<form class="chat-form" [formGroup]="chatForm" (ngSubmit)="$event.preventDefault()">
  <ul #chatWindow class="chat-window">
    <ng-template ngFor let-item [ngForOf]="msgArr">
      <li *ngIf="item.type === 'notice'" style="text-align: center; background-color: #d8cdcd; color: #5f5d5d;">{{item.msg}}</li>
      <li *ngIf="item.type ==='message'" style="text-align: left;">{{item.userId}}: {{ item.msg }}</li>
      <li *ngIf="item.type ==='myMessage'" style="text-align: right;">나: {{ item.msg }}</li>
    </ng-template>
  </ul>

  <div class="chat-send-wrap">
    <input class="chat-message-input" type="text" formControlName="msgInput">
    <button class="btn btn-normal btn-red btn-send" (click)="sendButtonClick()">Send</button>
  </div>
</form>
